body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: honeydew;
}
article {
    width: 40rem;
    border: 0px solid red;
    margin: 0 auto;
}
article:after {
    content: "";
    display: table;
    clear: both;
}
h1 {
    color:#812F33;
    font-size: 2.5rem;
}
blockquote {
    color:#4b59a5; 
    background-color: #A5AAA3;
    border: 2px solid #812F33 ;
    font-weight: bold;
    font-size: 1.25rem;
    width: 30rem;
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
    clear: both;
}
cite {
    color: #705E78;
    font-weight: bold;
    font-size: 1rem;
}
a {
    color: #4b59a5;
}
ol {
    font-size: 1.5rem;
    border: 0px solid red;
    text-align: center;
    list-style-position: inside;
}
.floatleft {
    float: left;
    margin: 0 1rem 1rem 0;
}
.floatright {
    float: right;
    margin: 0 0 1rem 1rem;
}